
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/open-sans-v29-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/open-sans-v29-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/open-sans-v29-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/open-sans-v29-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*стили верхних надписей и черты*/
.reason{
    width: 1170px;
    height: 573px;
    margin-left: auto;
    margin-right: auto;
 }


.reason__child-wrapper{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 50px;
}

.reason__title{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px; 
    width: 1170px;
    
}

.reason__underline{
    
    width: 170px;
    height: 1px;
    background-color: #EC7979;
    margin-left: 500px;
    margin-top: 50px;
}

.reason__caption{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color:#86878B;
    margin-top: 40px;
}
/*стили верхних надписей и черты*/



.reason__child_column {
    
    display:flex;
    width: 1170;
    justify-content: center;
    align-items: center;
    margin-top: 110px;
}

.reason__columns{
    width: 370px;
}

.reason__columns__img{
    width: 92px;
    height: 92px;
    margin-left: 135px;
}

.reason__columns__title{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    width: 369px;
    height: 100px;
    text-align: center;
   
}

.reason__columns__captions{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    width: 370px;
    height: 105px;
    text-align: center;
    margin-top: 8px;
}