
  *{
    padding: auto 0;
    margin: auto 0;
    box-sizing: border-box;
  }

  .reason__content{
   display: flex;
   justify-content: space-between;
   text-align: center;
  }

  .reason__content-childs{
    width: 370px;
    height: 383px;
    margin-top: 71px;
}

.reason__content-photo{
    width: 170px;
    height: 170px;
}

.reason__content-title{
    Width:369px;
    Height:100px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.reason__content-desc{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;    
    Width:370px;
    Height:105px;
   
}